<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{l('Restaurant')}}
                </h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{l('Name')}}</th>
                            <th>{{l('Calorie')}}</th>
                            <th>{{l('IsDairyFree')}}</th>
                            <th>{{l('IsGlutenFree')}}</th>
                            <th>{{l('IsNutFree')}}</th>
                            <th>{{l('Price')}}</th>
                            <th>{{l('Actions')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let food of foods">
                            <td>{{food.name}}</td>
                            <td>{{food.calorie}}</td>
                            <td>{{food.isDairyFree}}</td>
                            <td>{{food.isGlutenFree}}</td>
                            <td>{{food.isNutFree}}</td>
                            <td>{{food.price}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="editFood(food)"><i class="material-icons">create</i>Edit</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" (click)="deleteFood(food)"><i class="material-icons">delete_sweep</i>Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
                    (click)="createFood()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<create-food #createFoodModal (modalSave)="refresh()"></create-food>
